body {
    background-color: #e6d4e9;
    font-family: 'American Typewriter', serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.title-image {
    width: 50%;
    padding: 20px;
}

.hand-drawn-box {
    background-image: url("imgs/Box Outline.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 800px;
    height: 1000px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.hand-drawn-box p,
.hand-drawn-box input {
    margin: 0;
    text-align: center;
    width: 100%;
}

.hand-drawn-box input[type="text"] {
    margin-top: 50px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 60%;
}

.gametext h1 {
    font-family: 'Playfair Display', serif;
}

.gametext {
    background: radial-gradient(circle, #BDE5F7, #E6D4E9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#timer {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
}

#top-box {
    width: 80%;
    padding: 20px;
    background-color: white;
    border: 1px solid #CCC;
    margin-bottom: 20px;
}

#bottom-box {
    width: 80%;
    padding: 20px;
    background-color: white;
    border: 1px solid #CCC;
}

#typing-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

#word-display {
    font-size: 24px;
    margin-bottom: 20px;
}
